@use '@/styles/variables' as v;

.search_container {
  display: flex;
  width: 400px;

  div[class*='fieldContainer'] {
    border-radius: 8px 0 0 8px;
    border-right: none;
    flex: 1;
  }

  div[class*='inputWrapper'] {
    margin-bottom: 0px;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.search_btn {
  width: 56px;
  background-color: v.$color-secondary;
  border: none;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.override_input {
  border-radius: 8px 0 0 8px;
  border-right: none;
  margin-bottom: 0;
}
