.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_layout {
  display: flex;
  flex: 1;
}

.contents {
  flex: 1;
  overflow-y: auto;
  padding: 60px;
  background-color: #fbfbfb;
}
